{% load static meta core sri django_vite %}
<!DOCTYPE html>
<html lang="en">
    <head {% meta_namespaces %}>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% comment %} head_title comes from django-allauth so needs to keep this name {% endcomment %}
        <title>
            {% block head_title %}
                {% if meta.title %}
                    {{ meta.title }}
                {% else %}
                    {% comment %} Fallback to project_display_name if there is no meta title {% endcomment %}
                    {% project_display_name %}
                {% endif %}
            {% endblock head_title %}
        </title>
        {% comment %} Tailwind & DaisyUI {% endcomment %}
        <link rel="stylesheet" href="{% vite_asset_url 'src/tailwind.css' %}">
        {% comment %} Additional meta from django-meta {% endcomment %}
        {% include "meta/meta.html" %}
        {% block extra_head %}
        {% endblock extra_head %}
        {% vite_hmr_client %}
        {% vite_react_refresh %}
    </head>
    <body>
        {% block header %}
            {% comment %} Include the header partial by default {% endcomment %}
            {% include "core/partials/header.html" %}
        {% endblock header %}
        {% block body %}
        {% endblock body %}
        {% block footer %}
            {% comment %} Include the footer partial by default {% endcomment %}
            {% include "core/partials/footer.html" %}
        {% endblock footer %}
        {% plausible_analytics %}
        {% chatwoot_widget %}
    </body>
</html>
