{% load allauth %}
{% if attrs.type == "checkbox" %}
    <div class="form-control">
        <label class="label cursor-pointer">
            <span class="label-text">
                {% slot label %}
                {% endslot %}
            </span>
            <input {% if attrs.required %}required{% endif %}
                   name="{{ attrs.name }}"
                   class="checkbox"
                   id="{{ attrs.id }}"
                   {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
                   {% if attrs.disabled %}disabled{% endif %}
                   type="{{ attrs.type }}">
        </label>
    </div>
{% else %}
    <label for="{{ attrs.id }}" class="form-control w-full">
        <div class="label">
            <span class="label-text">
                {% slot label %}
                {% endslot %}
            </span>
        </div>
        {% if attrs.type == "textarea" %}
            <textarea {% if attrs.required %}required{% endif %}
                      {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
                      {% if attrs.disabled %}disabled{% endif %}
                      {% if attrs.readonly %}readonly{% endif %}
                      {% if attrs.checked %}checked{% endif %}
                      {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
                      {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
                      {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}>{% slot value %}{% endslot %}</textarea>
        {% else %}
            <input {% if attrs.required %}required{% endif %}
                   {% if attrs.disabled %}disabled{% endif %}
                   {% if attrs.readonly %}readonly{% endif %}
                   {% if attrs.checked %}checked{% endif %}
                   {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
                   {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
                   {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
                   {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
                   {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
                   type="{{ attrs.type }}"
                   class="input input-bordered w-full {% if attrs.errors %}input-error{% endif %}">
        {% endif %}
        <div class="label not-prose">
            {% if attrs.errors %}
                <span class="label-text-alt text-error">{{ attrs.errors }}</span>
            {% elif slots.help_text %}
                <span class="label-text-alt">
                    {% slot help_text %}
                    {% endslot %}
                </span>
            {% endif %}
        </div>
    </label>
{% endif %}
